{{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<form action="/" method="GET">
  <input type="text" name="query" placeholder="Search for photos">
  <input type="number" name="maxPhotos" placeholder="Max Photos" min="1" max="1000">
  <button type="submit">Search</button>
</form>


<h3>Flickr response</h3>
{{#each formattedPhotoData}}
  <a href="{{this.image}}" download="{{this.url}}">
    <img src="{{this.image}}" alt="{{this.title}}" width="400" height="500">
  </a>
  <br>
{{/each}}

<hr>

<h3>Photos from Redis cache</h3>
<div id="RedisImageContainer">
  {{#each transformedPhotoDataRedis}}
    <img src="data:image/jpeg;base64, {{this.redisResult}}" alt="Redis Image">
    <br> 
  {{/each}}
</div>

<hr>

  <h3>TransformedPhotoData</h3>
  <div id="TransformedPhotoContainer">
    {{#each transformedPhotoData}}
      <a href="{{this.s3URL}}" download="{{this.storageKey}}">
        <img src="{{this.s3URL}}" alt="{{this.storageKey}}" width="400" height="500">
      </a>
      <br>
    {{/each}}
  </div>








    <h1>File Upload and Processing</h1>
    <!-- Form for file upload -->
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" multiple>
        <button type="submit">Upload</button>
    </form>

    <hr>

    <!-- Display uploaded and processed files -->
    <h2>Uploaded and Processed Files</h2>
    <ul>
      <div id="uploadTransformedPhotos">
        {{#each uploadTransformedPhotos}}
          <a href="{{this.s3URL}}" download="{{this.storageKey}}">
            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" width="400" height="500">
          </a>
          <br>
        {{/each}}
    </ul>




<head>
  <title>File Upload and Processing</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
      <h1 class="text-center">File Upload and Processing</h1>
      <!-- Form for file upload -->
      <form action="/" method="post" enctype="multipart/form-data" class="text-center">
          <input type="file" name="photo" class="form-control" multiple>
          <button type="submit" class="btn btn-primary mt-3">Upload</button>
      </form>

      <hr>

      <!-- Display uploaded and processed files -->
      <h2 class="mt-4">Uploaded and Processed Files</h2>
      <div id="uploadTransformedPhotos" class="d-flex flex-wrap justify-content-center">
          {{#each uploadTransformedPhotos}}
              <div class="uploaded-image">
                  <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                      <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                  </a>
              </div>
          {{/each}}
      </div>
  </div>
  <div class="flickrResponse">
    <h3>Flickr response</h3>
    <div class="flickrResponseList" >
      {{#each formattedPhotoData}}
        <a href="{{this.image}}" download="{{this.url}}">
          <img src="{{this.image}}" alt="{{this.title}}" width="400" height="500">
        </a>
        <br>
      {{/each}}
    </div>


  </div>

</body> --}}













<head>
    <title>File Upload and Processing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-4">
      <h1 class="text-center">File Upload and Processing</h1>
      <!-- Form for file upload -->
      <form action="/" method="post" enctype="multipart/form-data" class="text-center">
          <input type="file" name="photo" class="form-control uploadField center" multiple>
          <button type="submit" class="btn btn-primary mt-3">Upload and process photos</button>
      </form>
    
  <hr>

  <h2 class="text-center mt-4">Uploaded and Processed Files</h2>
    <div class="row">
        <!-- First List - Uploaded and Processed Files (Black and White) -->
        <div class="col">
            <h2 class="text-center mt-4">Black and White</h2>
            <div id="uploadTransformedPhotosBW" class="d-flex flex-wrap justify-content-center">
                {{#each uploadTransformedPhotosBW}}
                    <div class="uploaded-image">
                        <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Second List - Uploaded and Processed Files (Sigmodial) -->
        <div class="col">
            <h2 class="text-center mt-4">Sigmodial</h2>
            <div id="uploadTransformedPhotosSigmodial" class="d-flex flex-wrap justify-content-center">
                {{#each uploadTransformedPhotosSigmodial}}
                    <div class="uploaded-image">
                        <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

  </div>
  
<!-- Flickr Search Form -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h3>Flickr Search</h3>
            <form action="/" method="GET">
                <div class="mb-3">
                    <input type="text" name="query" class="form-control" placeholder="Search for photos">
                </div>
                <div class="mb-3">
                    <input type="number" name="maxPhotos" class="form-control" placeholder="Max Photos" min="1" max="1000">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>


  <!-- Flickr Response -->
  <div class="container mt-5">
      <div class="row">
          <div class="col-12 text-center">
              <h3>Flickr Response</h3>
              <div class="flickrResponseList">
                  {{#each formattedPhotoData}}
                      <a href="{{this.image}}" download="{{this.url}}">
                          <img src="{{this.image}}" alt="{{this.title}}" class="img-fluid">
                      </a>
                      <br>
                  {{/each}}
              </div>
          </div>
      </div>
  </div>

</body>




