<head>
    <title>File Upload and Processing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-4">
      <h1 class="text-center">File Upload and Processing</h1>
      <!-- Form for file upload -->
      <form action="/" method="post" enctype="multipart/form-data" class="text-center">
          <input type="file" name="photo" class="form-control uploadField center" multiple>
          <button type="submit" class="btn btn-primary mt-3">Upload and process photos</button>
      </form>
    
  <hr>-

  <h2 class="text-center mt-4">Uploaded and Processed Files</h2>
    <div class="row">
        <!-- First List - Uploaded and Processed Files (Black and White) -->
        <div class="col">
            <h2 class="text-center mt-4">Black and White</h2>
            <div id="uploadTransformedPhotosBW" class="d-flex flex-wrap justify-content-center">
                {{#each uploadTransformedPhotosBW}}
                    <div class="uploaded-image">
                        <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                        </a>
                    </div>
                {{/each}}
            </div>
            <div class="text-center mt-4">
                <p>Total B/W Transformation Time: {{totalTransformationTimeBW}} ms</p>
            </div>
        </div>

        <!-- Second List - Uploaded and Processed Files (Blurred) -->
        <div class="col">
            <h2 class="text-center mt-4">Blurred</h2>
            <div id="uploadTransformedPhotosBlurred" class="d-flex flex-wrap justify-content-center">
                {{#each uploadTransformedPhotosBlurred}}
                    <div class="uploaded-image">
                        <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                        </a>
                    </div>
                {{/each}}
            </div>
             <div class="text-center mt-4">
                <p>Total Blurred Transformation Time: {{totalTransformationTimeBlurred}} ms</p>
            </div>
        </div>

            <!-- Thrid List - Uploaded and Processed Files (XXXX) -->
        <div class="col">
            <h2 class="text-center mt-4">XXXX</h2>
            <div id="uploadTransformedPhotosXXXX" class="d-flex flex-wrap justify-content-center">
                {{#each uploadTransformedPhotosXXXX}}
                    <div class="uploaded-image">
                        <a href="{{this.s3URL}}" download="{{this.storageKey}}">
                            <img src="{{this.s3URL}}" alt="{{this.storageKey}}" class="img-fluid" width="500">
                        </a>
                    </div>
                {{/each}}
            </div>
            <div class="text-center mt-4">
                <p>Total XXXX Transformation Time: {{totalTransformationTimeXXXX}} ms</p>
            </div>
        </div>

        <!-- Queries past 24 hours -->
          <div class="text-center mt-4">
                <p>Queries in the past 24 hours: {{totalUploadCount}}</p>
          </div>
    </div>
</div>